  
  .directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  
@media only screen and (max-width: 800px) {
  .directory-menu{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
}

  